@using Fruition.Client.Services.Toast
@inherits LayoutComponentBase
@inject IToastService _toast

<Toast></Toast>
<div class="page">
    <main>
        <article class="content">

            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            #if DEBUG
            _toast.Success("Test Toast");

            #endif
        }
        base.OnAfterRender(firstRender);
    }
}
