@using LetsVote.Client.Components.Toast
@using LetsVote.Client.Layout
@using LetsVote.Client.Services.Toast
@inherits LayoutComponentBase
@inject IToastService _toast

<Toast Position="ToastPosition.Top | ToastPosition.Right"></Toast>
<div class="main-layout">
    <header class="bg-primary text-white p-4 text-center">
        <h1>Let's Vote Game</h1>
    </header>
    <main>

        <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <NavMenu />
        </nav>

        <div class="container-fluid">
            <article class="content p-4">
                @Body
            </article>
        </div>

    </main>

   </div>
<footer class="bg-dark text-white text-center px-2 position-absolute w-100 bottom-0">
    <p>&copy; 2024 Let's Vote Game</p>
</footer>
