@use "sass:color";
@import "../lib/bootstrap/scss/functions";


//uncomment command set these colors
$primary: ;
$secondary: ;
$tertiary: ;
$info: ;
$success:;
$danger: ;
$warning: ;

@import "../lib/bootstrap/scss/_variables";
@import "../lib/bootstrap/scss/_variables-dark";

// 4. Include any default map overrides here
$theme-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans, ("primary": $primary, "secondary": $secondary, "tertiary": $tertiary));

// 5. Include remainder of required parts
@import "../lib/bootstrap/scss/maps";
@import "../lib/bootstrap/scss/mixins";
@import "../lib/bootstrap/scss/root";
@import "../lib/bootstrap/scss/buttons";
@import "../lib/bootstrap/scss/helpers/colored-links";

//$utilities: map-merge( $utilities, ( "color": map-merge( map-get($utilities, "color"), ( values: map-merge( map-get(map-get($utilities, "text-color"), "values"), ( $theme-colors ))))));

//@each $color, $value in $all-colors
//{
//    .bg-#{$color}
//    {
//        background-color: $value;
//    }

//    a.link-#{$color}
//    {
//        color: $value;
//        text-decoration: none;
//    }

//        a.link-#{$color}:focus,
//        a.link-#{$color}:hover
//        {
//            color: color.adjust($value, $saturation: -15%, $lightness: +20%);
//            text-shadow: 1px 1px 2px color.adjust($value, $saturation: +20%, $lightness: -15%);
//        }

//    .text-#{$color}
//    {
//        color: $value;
//    }
//}

//@each $gradient, $value in $custom-gradients
//{
//    @each $size, $val in $border-sizes
//    {
//        @each $side in ("top", "bottom", "left", "right", "block", "inline")
//        {
//            .border-#{$side}-#{$gradient}-#{$size}
//            {
//                border-image-source: $value;
//                border-image-slice: 2;
//                border-#{$side}-width: $val;
//                border-#{$side}-style: solid;
//            }
//        }
//    }
//}

@import "../lib/bootstrap/scss/utilities/_api.scss";
