
@for $i from 1 through 100 {
    .w-#{i} {
        min-width: calc(#{$i} * 1%);
        max-width: calc(#{$i} * 1%);
    }

    .left-#{$i} {
        left: calc(#{$i} * 1%);
    }

    .right-#{$i} {
        right:  calc(#{$i} * 1%);
    }
}

.position-sticky {
    position: sticky !important;
}

.sticky-bottom {

}
